*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#navbar{
    width: 100%;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.logo{
    width: 100px;
    height: 100px;
    margin-top: 20px;
    margin-left: 50px;
}
#navbar h2{
    font-family: 'Gluten', cursive;
    margin-left: 20px;
    display: flex;
    align-items: center;
}
#navList{
    display: flex;
    align-items: center;
}
.nav-list{
    width: 500px;
    height: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin-left: 200px;
}
.nav-list a{
    font-family: 'Gluten', cursive;
    text-decoration: none;
    font-size: 24px;
    color: black;
}
.nav-list :hover{
   font-size: 32px;
   color: #173A56;;
}
.nav-sign{
    display: flex;
    align-items: center;
    position: relative;
    top:-10px;
}
.signIn{
    width: 102px;
    height: 46px;
    margin-top: 15px;
    margin-left: 29px;
    border-radius: 8px;
    margin-left: 140px;
}
.signIn a{
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #173A56;
    font-family: 'Gluten', cursive;
}
.signUp{
    width: 110px;
    height: 46px;
    margin-top: 15px;
    margin-left: 14px;
    background-color: #173A56;
    color: #fff;
    border-radius: 8px;
    border: none;
}
.signUp a{
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    font-family: 'Gluten', cursive;
}
/* End Navigation */

/* Hover me btn1 */
.hover-btn1{
    display: flex;
    justify-content: center;
}
.hover-btn1 button{
    width: 110px;
    height: 40px;
    color: #fff;
    border: 1px solid red;
    padding: 10px;
    background-color: #333;
    transition: width 5s;
}
.hover-btn1 button:hover{
    width: 100%;
    background-color: #173A56;
}
/* End Hover me btn1 */

/* Hover me btn2 */
.hover-btn2{
 display: flex;
 flex-direction: column;
}
.hover-btn2 button{
    width: 110px;
    height: 40px;
    color: #fff;
    border: 1px solid red;
    padding: 10px;
    background-color: #333;
    transition: 2s;
}
#btn2-1{
    transition-timing-function: linear;
}
#btn2-2{
    transition-timing-function: ease;
}
#btn2-3{
    transition-timing-function: ease-in;
}
#btn2-4{
    transition-timing-function: ease-out;
}
#btn2-5{
    transition-timing-function: ease-in-out;
}
#btn2-6{
    transition-timing-function: step-start;
}
.hover-btn2 button:hover{
    width: 400px;
    background-color: #173A56;
}
/* End Hover me btn2 */

/* Hover me btn3 */
.hover-btn3{
    width: 130px;
    height: 130px;
    background-color: #333;
    border: 1px solid red;
    padding: 10px;
    position: relative;
    left: 500px;
    top: -200px;
    color: #fff;
    transition: 3s;
    animation-direction: reverse;
}
.hover-btn3:hover{
    width: 200px;
    height: 200px;
    background-color: #173A56;
}
/* End Hover me btn3 */

/* Move Btn */
.move-btn{
    width: 100px;
    height: 10px;
    background-color: #333;
    position: relative;
    top: -100px;
    animation-name: div;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes div{
    0% {
        background-color: yellow;
        left: 0;
    }
    100% {
        background-color: rgb(240, 4, 4);
        left: 92%;
    }
}
/* End Move Btn */

/* Ball */
.ball{
    width: 50px;
    height: 200px;
    background-color: #333;
    margin-left: 50px;
    display: flex;
    justify-content: center;
}
.jump-ball{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
    animation-name: ball;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}
@keyframes ball{
    from {top: 0px;}
    to {
        top: 180px;
        background-color: red;
    }
}
/* End ball */

/* Ball 2 */
.ball2{
    position: relative;
    left: 300px;
    top: -200px;
}
.move-ball {
    width: 70px;
    height: 70px;
    margin: 50px auto;
    position: fixed;
    left: 20%;
    border-radius: 50%;
    background: linear-gradient(
      35deg,
      #035e5e,
      #5e0c0c
    );
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 3s;
  }

  @keyframes fade {
    50% {
      left: 60%;
      opacity: 0.1;
    }
  }
